/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1500px) {
	.some_awesone_features  {
		padding-bottom: 70px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.new_design {
		padding-top: 30px;
		padding-bottom: 90px;
		background-size: contain;
	}

	.container_inputs {
		margin-top: 30px;
	}
	
	.section_desc {
		padding-top: 50px;
	}
	.but_form_footer {
    	right: 5%;

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.title {
		background-position: 0
	}

	.title_container {
		width: 75%;
	}

	.some_awesone_features {
		padding: 50px 0;
	}

	.some_container {
		margin: 10px 0;
	}

	.some_title_container h2 {
    	margin-bottom: 20px;
	}

	.responsive_design {
		background-image: none;		
		background-color: #f08282;
		padding: 50px 0;
		text-align: center;		
	}

	.respons_container h4 {		
		color: #DC143C;
		margin-bottom: 10px;
	}

	.responsive_design .respons_container h2 {
		padding: 0;
		font-size: 28px;
		margin: 10px 0;
		letter-spacing: 1px;
	}

	.responsive_design .respons_container p {
		padding: 0;
	}

	.container_parthers p {
		padding-bottom: 20px;
	}

	.desc_container p {
		margin-bottom: 30px;
	}
	   
	.section_desc {    
    	background-size: contain;
    	/*padding: 0;*/
    }

    .footer {
		background-image: none;		
		background-color: #ececec;
		text-align: center;
		padding: 40px 0;
	}

	.logo_container, 
	.footer_container {
		margin-bottom: 20px;
	}
	.logo_container p {
    	width: 100%;
	}

	.but_form_footer {
	    right: 35%;
	}    
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.title {
		background-position: 0;
	}

	.title_container  {
		width: 95%;
	}
	
	.new_design {    	
    	padding-bottom: 30px;
	}

	.some_container {
		margin-bottom: 15px;
	}


	.container_parthers img {
		margin-bottom: 0;
	}

	.container_parthers h4 {
		margin-bottom: 15px;
	}

    .firma_parthers img {
    	padding: 0;
    }

	.desc_container h2 {
		margin-bottom: -40px;
	}

	.design_parthers {
		padding: 40px 0;
	}

	.sub_title_designes h2 {
		font-size: 35px;
	}

	.container_inputs input {
		margin: 10px 0;
	}

	.designers_inputs p {
		padding-top: 30px;
		line-height: normal;
	}	

	.but_form_footer {
	    right: 30%;
	} 

}
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title_container h1 {
		font-size: 45px;
	}
	
	.new_design {
		background-image: none;
		background-color: #ececec;
	}

	.design {
		padding: 0 10px;
		text-align: center;
	}

	.desc_container {
		padding: 20px 0;
	}
		.but_form_footer {
	    right: 20%;
	} 
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 320px) {
	.sub_title_designes h2,
	.desc_container h2,
	.some_title_container h2,
	.design h2 {
    	font-size: 30px;
	}

	.but_form_footer {
	    right: 15%;
	} 
}