/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1500px) {
	

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.new_design {
		padding-top: 30px;
	}

	.some_awesone_features {
		padding: 0;
	}
	
	.some_container p,
	.respons_container h2,
	.respons_container p,
	.desc_container p {
		padding: 0 50px;
	}


}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	.some_container {
		margin-bottom: 30px;
	}

	.respons_container h4 {
		text-align: right;
	}
	.respons_container h2 {
		font-size: 35px;
	}

	.container_parthers p {
		padding-bottom: 20px;
	}

	.section_desc {
		background-image: none;
		min-height: auto
	}

	.desc_container p {
		margin-bottom: 30px;
	}

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.title {
		background-position: 0;
	}

	.title_container  {
		width: 95%;
	}
}

	

	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title_container h1 {
		font-size: 45px;

	}


}