/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1500px) {
	.design {


}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.new_design {
		padding-top: 30px;
	}
	

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   .design {
   	padding: 10px;
   }

   .design_picture {
   	text-align: center;
   	margin-right: 0;
   }




}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.title_container  {
		width: 95%;
	}

}
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
/*.title_container {
    width: 90%;
}*/

.title_container h1 {
	font-size: 45px;
}


}