
body {
	font-family: 'Exo', sans-serif;	
}


.title {
	position: relative;
	background-image: url(../img/header_bg.png);
	background-repeat: no-repeat;
	background-position: 0 -200px;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;	
}

.title_wrapper {
	position: relative;
	min-height: 810px;
}

.title_container {	
	position: absolute;
	width: 60%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
	text-align: center;
}

.title_container h1 {
	font-family: "Exo-Thin";
	font-size: 60px;
	color: #282828;	
	line-height: 1.25;
}

.title_container p {
	font-family: "Exo-Medium";
	color: #282828;
	font-size: 14px;
	opacity: 0.6;
}

.title_play {
	display: block;
	padding: 40px 0;

}

.title_play:hover {
	opacity: .8;	
}

.title_button {
	background-color: #ff6d6d;	
    font-size: 16px;
    font-family: "Exo-Regular"; 
    display: inline-block;  
    padding: 20px 70px;    
    color: #fff;  
    border-radius: 3px;
    margin-bottom: 20px;    
}


.title_button span {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
}

.title_button:hover {
	background-color: #B22222;
	transition: all .7s;	
}

.new_design {	
	background-image: url(../img/right_pic.png);	
	background-position: right;	 
    background-repeat: no-repeat;    
    padding-top: 145px;
    padding-bottom: 170px;
}	


.sub_title {
	font-family: "Exo-Medium";
	font-size: 16px;
	color: #ff6d6d;
	letter-spacing: 2px;
    font-weight: 500;
    line-height: 3.33;
}

.design_picture {
	text-align: right;
	margin-right: -15px;
}

.design h2 {
	font-family: "Exo-Medium";
	font-size: 40px;
	margin-bottom: 20px;
}

.design span {
	color: #ff6d6d;
}

.design p{
	font-family: "Exo-Medium";	
	font-size: 16px;
	color: #282828;
	opacity: 0.66;
	padding: 15px 0;
	line-height: 1.6;	
}


.some_awesone_features {
    background-image: url(../img/things_bg_pic.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    background-size: cover; 
    background-position: center;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 185px;
    text-align: center;
}

.some_title_container .sub_title h4 {
	font-family: "Exo-Medium";
	font-size: 16px;
	color: #ff6d6d;
	text-transform: uppercase;
	letter-spacing: 2px;	
	margin-bottom: 15px;
}

.some_title_container h2{
    font-family: "Exo-Medium";
    font-size: 40px;
    color: #282828;
    letter-spacing: 4px;
    margin-bottom: 90px;
}	
	

.some_container img {
	margin-bottom: 35px;
}


.some_container p {
	font-family: "Exo-Medium";
	font-size: 16px;
	color: #282828;
	opacity: 0.66;
	line-height: 1.6;
	padding: 0 20px;
}

.some_container h3 {
	font-family: "Exo-Medium";
	font-size: 22px;
	color: #282828;
	margin-bottom: 20px;
}

.responsive_design {
	background-image: url(../img/bg_3.png);
    background-repeat: no-repeat;
    background-position: 0% 15%;   
    padding-top: 140px;
    padding-bottom: 145px;
}

.respons_container .sub_title {
	line-height: 0;
}

.respons_container h2 {
	font-family: "Exo-Medium";	
	font-size: 40px;
	color: #282828;
	line-height: 1.2;
	letter-spacing: 4px;
	padding: 35px 0;	
}

.respons_container span {
	color: #ff6d6d;	
}

.respons_container p {
	font-family: "Exo-Medium";
	font-size: 16px;
	color: #282828;
	opacity: 0.66;
	line-height: 1.6;
}

.design_parthers {
	background-image: url(../img/bg_4.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 90px 0;
}

.container_parthers {
	text-align: center;
}


.container_parthers img {
	margin-bottom: 10px;
}

.container_parthers h3 {
	font-size: 22px;
	font-family: "Exo-Medium";
	color: #fff;
	padding: 15px 0;
}

.container_parthers h4 {
	color:#ff6d6d;
	font-size: 16px;	
	font-family: "Exo-Medium";
	margin-bottom: 35px;
}

.container_parthers p {
	font-family: "Exo-Regular-Italic";
	font-size: 16px;
	color: #fff;
	opacity: 0.66;
	line-height: 1.6;
	margin: 0 25px;
}

.firma_parthers {
	padding-top: 50px;
	text-align: center;
}
.firma_parthers img {
	padding: 0 50px;
}


.section_desc {
    background-color: #f3f4f6;
    background-image: url(../img/desc_pic.png);
    text-align: center;
    min-height: 750px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 110px;
}

.desc_container h2 {
	font-family: "Exo-Medium";
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 4px;
	margin-bottom: 50px;
}

.desc_container p {
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.6;
    font-family: "Exo-Medium";
    font-size: 16px;
    color: #000;
    opacity: 0.66;
    margin-top: 50px;
    margin-bottom: 105px;
	
}

.designers_inputs {	
	background-color: #323969;
	padding: 60px 0;
	
}
.sub_title_designes {
	text-align: center;
}

.sub_title_designes h2 {
	 font-family: "Exo-Medium";
	 font-size: 40px;
	 line-height: 1.25;
	 color: #fff;
}

.sub_designrs_text {
	position: relative;
	text-align: right;
	margin-bottom: 10px;	
}

.sub_designrs_text span {
	font-family: "Exo-Regular";  
	font-size: 16px;
	color: #f6f5f3;
	line-height: 4.6;
}
.sub_designrs_text span:before {
	content: url(../img/arrow.png);
	position: absolute;
    top: 35%;
    left: 5%;

}

.container_inputs {
	text-align: center;
}

.container_inputs input {
	background-color: #464c77;	
	border: 1px solid #999cb4;	  
	padding: 10px;
	margin: 0 10px;
	border-radius: 3px;
	text-align: center;

}

.container_inputs input[type="text"] {
	font-family: "Exo-Medium";  
	font-size: 16px;
	color: #f6f5f3;    
}

.but_try {		 
  	width: 220px;
  	padding: 11px 10px;
  	border-radius: 3px;
  	background-color: #ff6d6d;
  	box-shadow: 3px 3px 3px 3px #272d53;
}

.but_try:hover {
	background-color: #B22222;
	transition: all .7s;	
}

.but_try span {
	font-family: "Exo-Medium"; 
	font-size: 16px;
	color: #f6f5f3;	  
}

.container_try_but {
	display: inline-block;
}

.designers_inputs p {
	font-family: "Exo-Medium";
	font-size: 16px;
	line-height: 4.6;
	color: #fff;
	opacity: 0.6;
	text-align: center;
}


.footer {
	background-image: url(../img/pic_footer.png);
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	padding: 90px 0;
}

.logo_container p {
	font-family: "Exo-Medium";
	font-size: 14px;
	line-height: 1.8;
	color: #282828;
	opacity: 0.56;
}

.footer_container h3{
	font-family: "Exo-Medium";
	font-size: 22px;
	line-height: 1.8;
	color: #282828;
}

.footer_container li {
	font-family: "Exo-Regular";
	font-size: 14px;
	line-height: 2.14;
	color: #282828;
	opacity: 0.66;
}

.form_footer {
	margin: 5px 0 20px;
}


.form_footer input {
	background-color: #f6f6f6;	
	border: 1px solid #b8b8bf;	  
	padding: 10px;	
	border-radius: 3px;
	position: relative;
	
}

.form_footer input[type="text"] {
	font-family: "Exo-Regular";
	font-size: 16px;
	line-height: 4.6
	color: #000;
	opacity: 0.4;
}

.but_form_footer {
	background-color: #ff6d6d;
	height: 40px;
	width:  40px;
	position: absolute;
    top: 36%;
    left: 66%;
    border-radius: 3px;

}

.but_form_footer i{
	position: absolute;
	top: 25%;
    left: 25%;
    font-size: 20px;
}

.btn-group {
	text-align: center;
	color: #cbcbcb;
	padding: 0 20px;
}

.btn-group i {
	padding: 0 10px;
}





	
